<?xml version="1.0" encoding="utf-8"?>
<configuration><!-- https://www.iis.net/downloads/microsoft/url-rewrite -->
  <system.webServer>
	<rewrite>
      <rules>
        <rule name="Vue Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/vuegent/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>  
</configuration>